.title{
    font-size: 25px;
    font-weight: 700;
    margin-left: 2rem;
    color: #ddd;
}

.title:hover{
    color: #ffa500;
}

.daily-item{
    background-color: #fff;
    border-radius: 15px;
    height: 40px;
    margin: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 15px;
    padding: 5px 20px;
     color: #ffa500;
}

.icon-small{
    width: 40px;
   
}

.day{
    color: #212121;
    flex: 1 1;
    font-weight: 600;
    margin-left: 15px;
}

.description{
    flex: 1 1;
    margin-right: 15px;
    text-align: right;
   
}

.min-max{
    color: #ffa500;
}

.daily-grid-details{
    grid-row-gap: 0;
    grid-column-gap: 15px;
    row-gap: 0;
    column-gap: 15px;
    display: grid;
    flex: 1 1;
    grid-template-columns: auto auto;
    padding: 5px 15px;
    background-color: #000;
    color: #000;
    border-radius: 15px;
   
        margin: 5px;
    
}

.daily-grid-details-item{
    display: flex;
    height: 30px;
    justify-content: space-between;
    align-items: center;
}

.daily-grid-details-item label:first-child {
    color: #fff;


}

.daily-grid-details-item label:last-child{
    color: #ddd;

}

